@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

$yodaBackground: #d7d8c680;
$yodaMain: #619626;
$yodaText: #4e5e3c;
$yodaDarker: #5c7044;
$yodaSecondary: #c0956f;
$yodaAccent: #87bc4c;

@mixin primaryFont {
  font-family: "Open Sans";
}

@mixin accentFont {
  font-family: "Luckiest Guy";
}

.main {
  height: 100%;
  padding: 4rem;
  background-color: $yodaBackground;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include primaryFont;
  color: $yodaText;
}

.main--image {
  height: 28rem;
}

.main--title {
  margin: 1rem 0;
  -webkit-text-stroke: 1px $yodaDarker;
  color: $yodaSecondary;
  @include accentFont;
  font-size: 7.5rem;
}

.main--translateForm {
  display: flex;
  flex-direction: column;
}

.main--translateForm__input {
  height: 6rem;
  width: 35rem;
  margin: 1rem 0;
  padding: 1rem;
  @include primaryFont;
  font-size: 1.25rem;
  border: solid thin $yodaSecondary;
  border-radius: 10px;
  resize: none;
}

.main--translateForm__button {
  height: 4rem;
  width: 50%;
  border: solid thin $yodaSecondary;
  border-radius: 10px;
  background-color: $yodaAccent;
  color: white;
  @include primaryFont;
  font-size: 2rem;
  font-weight: 900;
  align-self: center;
}

.main--translatedText {
  width: 55rem;
  padding: 1rem;
  -webkit-text-stroke: 1px $yodaDarker;
  color: $yodaMain;
  @include accentFont;
  font-weight: bold;
  font-size: 3.5rem;
}
